[package]
name = "hyper-reverse-proxy"
version = "0.5.0"
authors = ["Brendan Zabarauskas <bjzaba@yahoo.com.au>", "Felipe Noronha <felipenoris@gmail.com>", "Jan Kantert <jan-hyper-reverse-proxy@kantert.net>"]
license = "Apache-2.0"
description = "A simple reverse proxy, to be used with Hyper and Tokio."
homepage = "https://github.com/felipenoris/hyper-reverse-proxy"
documentation = "https://docs.rs/hyper-reverse-proxy"
repository = "https://github.com/felipenoris/hyper-reverse-proxy"
keywords = ["http", "hyper"]
categories = ["network-programming", "web-programming"]
readme = "README.md"
edition = "2018"

include = [
  "Cargo.toml",
  "LICENSE",
  "src/**/*"
]

[dependencies]
hyper = "0.13"
futures = "0.3"
lazy_static = "1.4"
unicase = "2.6"

[dev-dependencies]
tokio = { version = "0.2", features = ["full"] }
